# Local environment name
LOCAL=

# GCP Project ID
PROJECT=

# Composer environment
SOURCE_ENVIRONMENT=

# Environment location
LOCATION=

# GCS bucket for DAGs
DAGS_BUCKET=

# Repository for docker images
IMAGE_REPO=
